body {
  font-family: PingFang SC UltraLight,PingFangSC-Light,Microsoft YaHei,Tahoma,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  margin: 0;
}

.main-description {
  text-align: center;
  color: #fff;
}

.main-desc {
  margin-top: 30px;
}

.main-desc .title, .main-desc .title>h1 {
  text-align: center;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.main-desc .subtitle, .main-desc .subtitle>h2 {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  -webkit-letter-spacing: 4px;
  -moz-letter-spacing: 4px;
  -ms-letter-spacing: 4px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.main-desc .content {
  margin-bottom: 50px;
}

.main-desc .content, .main-desc .content>p {
  color: #ababab;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.main-action {
  color: #fff;
}

.main-action {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: 15px;
  margin-right: 15px;
}

.action-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-left: 10px;
  margin-right: 10px;
}

.action-item {
  display: inline-flex;
}

.action-item+.action-item {
  margin-left: 15px;
}

.action-box {
  display: block;

  border: 1px solid #333;
  width: 250px;
  height: 270px;
  overflow: auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;

  margin-bottom: 10px;
}

@media screen and (max-width: 655px) {
  .action-box {
    width: 270px;
    margin-left: 10px;
    margin-right: 10px;

    margin-bottom: 16px;
  }

  .action-item+.action-item {
    margin-left: 0;
  }

  .action-row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.action-box:hover {
  cursor: pointer;
  border: 1px solid #fff;
}

.action-image {
  border-bottom: 1px solid #333;
  height: 126px;
  line-height: 126px;
  text-align: center;
}

.action-image.none>img {
  -webkit-filter: drop-shadow(rgb(255, 255, 255) 130px 42px);
  filter: drop-shadow(rgb(255, 255, 255) 130px 42px);
}
